In [10]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [2]:
file = '../data/processed/datos_normalizados.csv'
data = pd.read_csv(file, delimiter=',');
data

                       Time  WindSpeed  ActivePower  WindDirection    YawAngle
0       2017-01-01 00:00:00  13.525400  5229.550000       5.440936  116.834000
1       2017-01-01 00:10:00  13.477100  5235.970000       5.438927  116.283000
2       2017-01-01 00:20:00  13.223300  5234.350000       5.434732  115.552000
3       2017-01-01 00:30:00   8.800249  5232.010000       5.433392  118.312000
4       2017-01-01 00:40:00  13.055400  5228.310000       5.428837  114.987000
...                     ...        ...          ...            ...         ...
413665  2020-12-31 23:10:00   2.680484   -25.521072       5.851633  347.655832
413666  2020-12-31 23:20:00   2.324961   -24.290187       5.817540  343.985084
413667  2020-12-31 23:30:00   2.068780   -23.819663       5.778489  328.523030
413668  2020-12-31 23:40:00   2.178742   -22.054977       5.757239  322.328713
413669  2020-12-31 23:50:00   2.364429   -24.162919       5.703468  291.022087

[413670 rows x 5 columns]

In [7]:
X = data[['WindSpeed','WindDirection','YawAngle']]

In [5]:
y = data['ActivePower']

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.7,random_state=1234)

In [11]:
lineal = LinearRegression()

In [12]:
lineal.fit(X_train, y_train)

LinearRegression()

In [13]:
pred = lineal.predict(X_test)

In [25]:
from sklearn.metrics import max_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_percentage_error
from sklearn.metrics import r2_score

In [24]:
m = max_error(y_test,pred)
m

8983.914847955577

In [21]:
mae = mean_absolute_error(y_test,pred)
mae

939.8291469066963

In [20]:
mse = mean_squared_error(y_test,pred)
mse

2292467.9019398405

In [22]:
mape = mean_absolute_percentage_error(y_test,pred)
mape

3.994809501645039

In [26]:
r2 = r2_score(y_test,pred)
r2

0.4491754400155913